    <% include partials/header.ejs %>

    <p><%= "title" %></p>
    <% if(title == 'About Me'){ %>
      <div class = "m-4 container">
        <div class = "row">
          <div class="border border-dark col-sm-4">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="images/selfPicture.jpg" alt="Picture of Kyle" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Kyle O'Keeffe</h4>
              </div>
            </div>
          </div>
          <div class ="col-sm-8">
            My name is Kyle O’Keeffe and I am a Software Engineering Technology student at Centennial College in Toronto, Canada. I was born in Kingston, Ontario but was raised in Ottawa. I have been interested in programming since high school, where I was introduced to html and Java. My true passion for programming however developed in the workplace as I recognized the impact that a well-written software solution can have on increasing the quality of our work and personal lives. In addition to my current work at Centennial, I have also completed a post-graduate certificate in Research Analysis and a Bachelors degree in History. 
          </div>
        </div>
      </div>
      <% } else if (title == 'Projects'){%>

        <div class = "container">
          <div class="card-deck d-sm-flex flex-sm-row align-content-around">
        

            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Student Records Application </h4>
                <p class="card-text">Description<br>Software to record, access and manage the academic records for multiple users. Developed using C# WPF GUI interface. Practice implementing ‘design by interface.’</p>
                <p class="card-text">Role<br>Designer, Developer</p>
              </div>
              <img class="card-img-bottom" src="images/studentTracking.PNG" alt="Image of GUI for Student Tracking software" style="width:100%">
            </div>


            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Customer Service Chatbot SRS</h4>
                <p class="card-text">Description<br>Contributed to development of software requirements documentation for a chatbot browser add-on.</p>
                <p class="card-text">Role<br>Team contributor</p>

              </div>
              <img class="card-img-bottom" src="images/chatBotDiagram.png" alt="Image of diagram for Chatbot software" style="width:100%">
            </div>
            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Quiz Simulation</h4>
                <p class="card-text">Description<br>Software for simulating a quiz. Developed using Java with JOptionsPane GUI interface. </p>
                <p class="card-text">Role<br>Designer, Developer</p>
              </div>
              <img class="card-img-bottom" src="images/quizSimulation.PNG" alt="Image of Quiz Simulator GUI with Ecclipse screenshot in background" style="width:100%">
            </div>
          </div>
        </div>
      
    <% } else if(title == 'Services'){ %>

      <div class="container">

  
        <div id="demo" class="carousel slide" data-ride="carousel">
    
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="la.jpg" alt="Los Angeles">
              </div>
              <div class="carousel-item">
                <img src="chicago.jpg" alt="Chicago">
              </div>
              <div class="carousel-item">
                <img src="ny.jpg" alt="New York">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
        </div>
    </div>

      <% } %>
    <% include partials/footer.ejs %>
